    <!-- Navigation Bar -->
    <nav>
        <div class="logo">VOGUE</div>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Collections</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">About</a></li>
        </ul>
        <div class="nav-buttons">
            <button>♡</button>
            <button>🛒</button>
        </div>
    </nav>